
<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='word' />
      <input type ='submit' value ='Enter!'/>
    </form>

    <p>
      Cipher: <%= cipher %>
    </p>
  </body>
  
</html>
